@{
    ViewData["Title"] = "Index";
}

<h1>Admin Panel</h1>

<h3>Here are the things that you can do:</h3>

<ul>
    <li style="list-style:none;font-size:18px"><a asp-area="EduHomeAdmin" asp-controller="Slider" asp-action="Index"><i class="bx bx-layout"></i> Add a slider</a></li>
    <li style="list-style: none; font-size: 18px"><a asp-area="EduHomeAdmin" asp-controller="Course" asp-action="Index"> <i class="fas fa-city"></i> Add a course</a></li>
</ul>