@model EventPostVM
@{
    ViewData["Title"] = "Create";
}

<div class="card">
    <div class="card-body">
        <h4 class="card-title mb-4">Create Event</h4>
        <form method="post" enctype="multipart/form-data">
            <div class="row mb-4">
                <label asp-for="Title" class="col-sm-3 col-form-label">Title</label>
                <div class="col-sm-9">
                    <input asp-for="Title" class="form-control">
                    <span class="text-danger" asp-validation-for="Title"></span>
                </div>
            </div>

            <div class="row mb-4">
                <label asp-for="Date" class="col-sm-3 col-form-label">Day</label>
                <div class="col-sm-9">
                    <input asp-for="Date" class="form-control">
                    <span class="text-danger" asp-validation-for="Date"></span>
                </div>
            </div>

            <div class="row mb-4">
                <label for="horizontal-firstname-input" class="col-sm-3 col-form-label">Month</label>
                <div class="col-sm-9">
                    <input asp-for="Month" class="form-control">
                    <span class="text-danger" asp-validation-for="Month"></span>
                </div>
            </div>
            <div class="row mb-4">
                <label for="horizontal-firstname-input" class="col-sm-3 col-form-label">Start</label>
                <div class="col-sm-9">
                    <input asp-for="Start" class="form-control">
                    <span class="text-danger" asp-validation-for="Start"></span>
                </div>
            </div>
            <div class="row mb-4">
                <label for="horizontal-firstname-input" class="col-sm-3 col-form-label">End</label>
                <div class="col-sm-9">
                    <input asp-for="End" class="form-control">
                    <span class="text-danger" asp-validation-for="End"></span>
                </div>
            </div>
            <div class="row mb-4">
                <label for="horizontal-firstname-input" class="col-sm-3 col-form-label">Location</label>
                <div class="col-sm-9">
                    <input asp-for="Location" class="form-control">
                    <span class="text-danger" asp-validation-for="Location"></span>
                </div>
            </div>

            <div class="row justify-content-end">
                <div class="col-sm-9">
                    <div>
                        <button type="submit" class="btn btn-primary w-md">Save</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!-- end card body -->
</div>

@section Script {
    <partial name="_ValidationScript" />
}