@{
    ViewData["Title"] = "Create";
}

<div class="card">
    <div class="card-body">
        <h4 class="card-title mb-4">Horizontal Form Layout</h4>

        <form method="post">
            <div class="row mb-4">
                <label for="horizontal-firstname-input" class="col-sm-3 col-form-label">Title</label>
                <div class="col-sm-9">
                    <input type="text" name="Title" class="form-control" id="horizontal-firstname-input" placeholder="Enter Your ">
                </div>
            </div>
            <div class="row mb-4">
                <label for="horizontal-firstname-input" class="col-sm-3 col-form-label">Second Title</label>
                <div class="col-sm-9">
                    <input type="text" name="Second Title" class="form-control" id="horizontal-firstname-input" placeholder="Enter Your ">
                </div>
            </div>
            <div class="row mb-4">
                <label for="horizontal-firstname-input" class="col-sm-3 col-form-label">Description</label>
                <div class="col-sm-9">
                    <input type="text" name="Description" class="form-control" id="horizontal-firstname-input" placeholder="Enter Your ">
                </div>
            </div>
            <div class="row mb-4">
                <label for="horizontal-firstname-input" class="col-sm-3 col-form-label">More</label>
                <div class="col-sm-9">
                    <input type="text" name="More" class="form-control" id="horizontal-firstname-input" placeholder="Enter Your ">
                </div>
            </div>
            <div class="row mb-4">
                <label for="horizontal-firstname-input" class="col-sm-3 col-form-label">ImageBGPath</label>
                <div class="col-sm-9">
                    <input type="text" name="More" class="form-control" id="horizontal-firstname-input" placeholder="Enter Your ">
                </div>
            </div>

            <div class="row justify-content-end">
                <div class="col-sm-9">
                    <div>
                        <button type="submit" class="btn btn-primary w-md">Submit</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!-- end card body -->
</div>