@model SliderPostVM
@{
    ViewData["Title"] = "Create";
}

<div class="card">
    <div class="card-body">
        <h4 class="card-title mb-4">Create Slider</h4>
        <form method="post" enctype="multipart/form-data">
            <div class="row mb-4">
                <label asp-for="Title" class="col-sm-3 col-form-label">Title</label>
                <div class="col-sm-9">
                    <input asp-for="Title" class="form-control">
                    <span class="text-danger" asp-validation-for="Title"></span>
                </div>
            </div>
            <div class="row mb-4">
                <label asp-for="SecondTitle" class="col-sm-3 col-form-label">Second Title</label>
                <div class="col-sm-9">
                    <input asp-for="SecondTitle" class="form-control">
                    <span class="text-danger" asp-validation-for="SecondTitle"></span>
                </div>
            </div>
            <div class="row mb-4">
                <label asp-for="Description" class="col-sm-3 col-form-label">Description</label>
                <div class="col-sm-9">
                    <input asp-for="Description" class="form-control">
                    <span class="text-danger" asp-validation-for="Description"></span>
                </div>
            </div>
            <div class="row mb-4">
                <label asp-for="More" class="col-sm-3 col-form-label">More</label>
                <div class="col-sm-9">
                    <input asp-for="More" name="More" class="form-control">
                    <span class="text-danger" asp-validation-for="More"></span>
                </div>
            </div>
            <div class="row mb-4">
                <label for="horizontal-firstname-input" class="col-sm-3 col-form-label">Image</label>
                <div class="col-sm-9">
                    <input asp-for="ImageBG" class="form-control" accept="image/*">
                    <span class="text-danger" asp-validation-for="ImageBG"></span>
                </div>
            </div>

            <div class="row justify-content-end">
                <div class="col-sm-9">
                    <div>
                        <button type="submit" class="btn btn-primary w-md">Save</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!-- end card body -->
</div>

@section Script {
    <partial name="_ValidationScript" />
}